.pageContainer {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,1fr);
    height: 1000px;
    max-width: 4000px;
    min-width: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

   
    

   
}

.IntroductionContainer{
grid-column-start:  2;
grid-column-end: 9;
grid-row-start: 1;
grid-row-end: 8;
/* margin-bottom: 300px; */



}

.MinicardContainer{
  
    grid-column-start:2;
    grid-column-end:9;
    grid-row-start:8;
    grid-row-end:9;
}

.AdHome{
    grid-column-start:1;
    grid-column-end:10;
    grid-row-start:9;
    grid-row-end:11;
}

.FooterContainer{
    grid-column-start:1;
    grid-column-end:10;
    grid-row-start:11;
    grid-row-end:13;

}